In [53]:
import pandas as pd
df = pd.read_csv('주요은행5개 통합2.csv', encoding='cp949')
df.head(10)

   Unnamed: 0    은행                      지점             도로명주소
0           0  KB국민    KB국민은행ATM 양재역종합금융센터점   서울 강남구 강남대로 262
1           1  KB국민          KB국민은행ATM 역삼서점   서울 강남구 강남대로 318
2           2  KB국민    KB국민은행ATM 역삼동종합금융센터점   서울 강남구 강남대로 354
3           3  KB국민         KB국민은행ATM 강남타운점   서울 강남구 강남대로 388
4           4  KB국민          KB국민은행ATM 개포남점    서울 강남구 개포로 224
5           5  KB국민         KB국민은행ATM 수서경찰서    서울 강남구 개포로 617
6           6  KB국민          KB국민은행ATM 대청역점    서울 강남구 개포로 623
7           7  KB국민          KB국민은행ATM 수서역점    서울 강남구 광평로 280
8           8  KB국민  KB국민은행ATM 로즈데일관리단(B2층)    서울 강남구 광평로 280
9           9  KB국민  KB국민은행ATM 수서삼성 365자동화점  서울 강남구 광평로31길 27

In [54]:
addrs = df['도로명주소']
addrs

0       서울 강남구 강남대로 262
1       서울 강남구 강남대로 318
2       서울 강남구 강남대로 354
3       서울 강남구 강남대로 388
4        서울 강남구 개포로 224
             ...
2777    서울 중랑구 사가정로 375
2778    서울 중랑구 사가정로 375
2779    서울 중랑구 용마산로 502
2780     서울 중랑구 중랑역로 51
2781     서울 중랑구 중랑역로 54
Name: 도로명주소, Length: 2782, dtype: object

In [55]:
locations = []
for addr in addrs:
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(addr)
    headers = {
    ## 여러분의 카카오 API의 REST API키를 아래 예시와 같이 입력해주세요
    ## "Authorization": "KakaoAK REST API키 입력 gogo"}
    "Authorization": "KakaoAK 4269e8dab7d1e5016e7d1e3eaa8aba03"}
    place = requests.get(url, headers = headers).json()['documents']
    locations.append(place)

In [56]:
city = [] ## 시, 군
town = [] ## 동, 읍, 면
for i in range(len(locations)):
    
    try:
        city.append(locations[i][0].get('address').get('region_2depth_name'))
        town.append(locations[i][0].get('address').get('region_3depth_name'))
        
    except IndexError:
        print(i,'번째 주소 못가져옴', end ='')
        print()
        city.append('없음')
        town.append('없음')
    
    except AttributeError:
        city.append(locations[i][0].get('road_address').get('region_2depth_name'))
        town.append(locations[i][0].get('road_address').get('region_3depth_name'))

100 번째 주소 못가져옴
101 번째 주소 못가져옴
129 번째 주소 못가져옴
152 번째 주소 못가져옴
232 번째 주소 못가져옴
233 번째 주소 못가져옴
273 번째 주소 못가져옴
275 번째 주소 못가져옴
276 번째 주소 못가져옴
277 번째 주소 못가져옴
285 번째 주소 못가져옴
295 번째 주소 못가져옴
345 번째 주소 못가져옴
389 번째 주소 못가져옴
408 번째 주소 못가져옴
423 번째 주소 못가져옴
424 번째 주소 못가져옴
425 번째 주소 못가져옴
460 번째 주소 못가져옴
482 번째 주소 못가져옴
494 번째 주소 못가져옴
589 번째 주소 못가져옴
609 번째 주소 못가져옴
641 번째 주소 못가져옴
653 번째 주소 못가져옴
722 번째 주소 못가져옴
723 번째 주소 못가져옴
893 번째 주소 못가져옴
1460 번째 주소 못가져옴
1599 번째 주소 못가져옴
1850 번째 주소 못가져옴
1945 번째 주소 못가져옴
2451 번째 주소 못가져옴
2529 번째 주소 못가져옴
2734 번째 주소 못가져옴

In [57]:
import numpy as np

In [58]:
city_town = np.array([city,town]).T
df_temp = pd.DataFrame(city_town, columns = ['region_2depth_name','region_3depth_name'])
df_temp.head()

  region_2depth_name region_3depth_name
0                강남구                도곡동
1                강남구                역삼동
2                강남구                역삼동
3                강남구                역삼동
4                강남구                개포동

In [59]:
df_temp.to_csv('ATM.csv')