In [212]:
import pandas as pd
df = pd.read_csv('서울_은행_점포_주소.CSV', encoding='cp949')
df = df[['행정동', '지번']]
df

          행정동                    지번
0        삼성1동   서울특별시 강남구 삼성동 168-1
1        도곡2동    서울특별시 강남구 도곡동 91-5
2        반포2동    서울특별시 서초구 반포동 18-3
3        서초2동  서울특별시 서초구 서초동 1319-5
4        압구정동     서울특별시 강남구 신사동 611
...       ...                   ...
1876     역삼1동   서울특별시 강남구 역삼동 642-6
1877     역삼1동   서울특별시 강남구 역삼동 642-6
1878  종로5.6가동     서울특별시 종로구 종로5가 98
1879     역삼1동   서울특별시 강남구 역삼동 635-2
1880     한강로동   서울특별시 용산구 한강로2가 420

[1881 rows x 2 columns]

In [199]:
df['구'] = df.지번.str.split(" ").str[1]
df.drop('지번', axis=1, inplace=True)
df

          행정동    구
0        삼성1동  강남구
1        도곡2동  강남구
2        반포2동  서초구
3        서초2동  서초구
4        압구정동  강남구
...       ...  ...
1876     역삼1동  강남구
1877     역삼1동  강남구
1878  종로5.6가동  종로구
1879     역삼1동  강남구
1880     한강로동  용산구

[1881 rows x 2 columns]

In [200]:
df.groupby(by = ['구', '행정동']).size()

구    행정동
강남구  개포1동     1
     개포2동     3
     개포4동     4
     논현1동    15
     논현2동    16
             ..
중랑구  상봉2동     3
     신내1동     2
     신내2동     3
     중화1동     2
     중화2동     3
Length: 369, dtype: int64

In [201]:
dong = pd.read_csv('서울시 행정동.csv', encoding='cp949')
dong['수'] = 0
dong

      행정동  수
0     사직동  0
1     삼청동  0
2     부암동  0
3     평창동  0
4     무악동  0
..    ... ..
419  암사1동  0
420  천호2동  0
421    길동  0
422   강일동  0
423   상일동  0

[424 rows x 2 columns]

In [202]:
error = []
for i in df['행정동']:
    for j in dong['행정동']:
        if j==i:
            n = dong.index[dong['행정동'] == j].tolist()
            n = n[0]
            dong['수'][n] = dong['수'][n] + 1

C:\Users\minse\AppData\Local\Temp/ipykernel_28584/1131161165.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dong['수'][n] = dong['수'][n] + 1

In [203]:
dong

      행정동   수
0     사직동  23
1     삼청동   4
2     부암동   2
3     평창동   2
4     무악동   1
..    ...  ..
419  암사1동   1
420  천호2동   3
421    길동   8
422   강일동   1
423   상일동   4

[424 rows x 2 columns]

In [204]:
dong['수'].sum()

1881

In [205]:
dong.to_csv('서울시 행정동별 은행 지점 수.csv', encoding='cp949')

In [206]:
mydic = {}
for d in dong:
    for idx, row in enumerate(df['행정동']):
        if d == row:
            mydic[dong] = [row['cnt']]

In [207]:
mydic

{}

In [208]:
csv = df['행정동'].unique().tolist()
real = dong['행정동'].unique().tolist()

for i in csv:
    if i not in real:
        print(i)